index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><link rel="shortcut icon" href="images/favicon.png"><title>ДТП</title><link rel="stylesheet" href="style.css"></head><body><div class="mgtniip_control_box accidents"><header><img src="images/icon_crash.svg" alt="Дорожно-транспортные происшествия"><h2>ДТП</h2><div class="quantity"><span class="quantity_selected" id="accidents__selected">0</span>&nbsp;/&nbsp;<span class="quantity_all" id="accidents__all">0</span></div></header><main><section class="quick_display"><div class="options"><input class="mgtniip_switch_button" id="accidents_show_all" type="checkbox"><label for="accidents_show_all">Показать всё</label></div><div class="options"><input class="mgtniip_switch_button" id="accidents_clear_all" type="checkbox"><label for="accidents_clear_all">Скрыть всё</label></div></section><section class="accidents_time_options"><input id="accidents_year" type="number"><input class="mgtniip_option_button" id="accidents_at_day" type="button" value="День"><input class="mgtniip_option_button" id="accidents_at_night" type="button" value="Ночь"><input class="mgtniip_option_button" id="accidents_in_summer" type="button" value="Лето"><input class="mgtniip_option_button" id="accidents_in_winter" type="button" value="Зима"></section><section class="accidents_zones_options"><div class="options"><input class="mgtniip_switch_button" id="accidents_near_crosswalk" type="checkbox"><label for="accidents_near_crosswalk">У пеш. перехода<span class="options_number" id="accidents_near_crosswalk__number">0</span>&nbsp;|&nbsp;<span class="options_percentage" id="accidents_near_crosswalk__percentage">0%</span></label></div><div class="options"><input class="mgtniip_switch_button" id="accidents_near_social_objects" type="checkbox"><label for="accidents_near_social_objects">У соц. объекта<span class="options_number" id="accidents_near_social_objects__number">0</span>&nbsp;|&nbsp;<span class="options_percentage" id="accidents_near_social_objects__percentage">0%</span></label></div><div class="options"><input class="mgtniip_switch_button" id="show_typical_places" type="checkbox"><label for="show_typical_places">Типовые участки<span class="options_number" id="show_typical_places__number">0</span></label></div><div class="options"><input class="mgtniip_switch_button" id="show_accidents_types" type="checkbox"><label for="show_accidents_types">По типам...<span class="options_number" id="show_accidents_types__number">0</span>&nbsp;|&nbsp;<span class="options_percentage" id="show_accidents_types__percentage">0%</span></label></div></section><section id="accidents_types"><div class="accidents_types"><input class="mgtniip_simple_checkbox" id="id1" type="checkbox"><label for="id1"><span class="accidents_type_numbers">0</span><span class="accidents_type_names" title="Мурлыкали миленькие кошечки">Мурлыкали миленькие кошечки</span></label></div><div class="accidents_types"><input class="mgtniip_simple_checkbox" id="id2" type="checkbox"><label for="id2"><span class="accidents_type_numbers">00</span><span class="accidents_type_names" title="Лаяли дикие собачки">Лаяли дикие собачки</span></label></div><div class="accidents_types"><input class="mgtniip_simple_checkbox" id="id3" type="checkbox"><label for="id3"><span class="accidents_type_numbers">0000</span><span class="accidents_type_names" title="Бегали беременные бегемотики">Бегали беременные бегемотики</span></label></div></section></main></div><div class="mgtniip_control_box injured"><header><img src="images/icon_family.svg" alt="Количество пострадавших при ДТП"><h2>Пострадавшие</h2><div class="quantity"><span class="quantity_selected" id="injured_selected">0</span><span>&nbsp;/&nbsp;</span><span class="quantity_all" id="injured_all">0</span></div></header><main><section class="adults"><div class="injured_row"><input class="mgtniip_simple_checkbox" id="adults" type="checkbox"><label for="adults"><span class="injured_number" id="adults_injured__number">0</span><strong>Взрослых</strong></label></div><div class="injured_row"><strong class="injured_percentage" id="adults_dead__percentaje">0%</strong><span>из них погибло</span></div></section><section class="kids"><div class="injured_row"><input class="mgtniip_simple_checkbox" id="kids" type="checkbox"><label for="kids"><span class="injured_number" id="kids_injured__number">0</span><strong>Детей</strong></label></div><div class="injured_row"><strong class="injured_percantage" id="kids_dead__percentaje">0%</strong><span>из них погибло</span></div><div class="injured_row"><strong class="injured_percantage" id="kids_injured_near_crosswalk__percentaje">0%</strong><span>пострадало у пеш. перехода</span></div><div class="injured_row"><strong class="injured_percantage" id="kids_injured_near_social_objects__percentaje">0%</strong><span>пострадало у соц. объекта</span></div></section></main></div><div class="mgtniip_aside_box"><div class="aside_row"><input class="mgtniip_simple_checkbox" id="divisions" type="checkbox"><label for="divisions">Административные округа</label></div><div class="aside_row"><input class="mgtniip_simple_checkbox" id="clasters_map" type="checkbox"><label for="clasters_map">Кластеризация</label></div><div class="aside_row"><input class="mgtniip_simple_checkbox" id="heat_map" type="checkbox"><label for="heat_map">Тепловая карта</label></div><div class="aside_row"><input class="mgtniip_simple_checkbox" id="traffic_lights" type="checkbox"><label for="traffic_lights">Показать все светофоры</label></div><div class="aside_row"><input class="mgtniip_simple_checkbox" id="social_objects" type="checkbox"><label for="social_objects">Показать все социальные объекты</label></div><div class="aside_row"><input class="mgtniip_simple_checkbox" id="accidents_near_tl_and_so" type="checkbox"><label for="accidents_near_tl_and_so">Социальные объекты и пешеходные переходы в зоне ДТП</label></div></div><script src="mgtniip_styles/mgtniip_styles.js"></script><script src="index.js"></script></body></html>

index.pug
- var projectPath = "images/"
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon" href=projectPath+"favicon.png")
        title ДТП
        link(rel="stylesheet" href="style.css")
    body
        .mgtniip_control_box.accidents
            header
                img(src=projectPath+"icon_crash.svg" alt="Дорожно-транспортные происшествия")
                h2 ДТП
                .quantity
                    span#accidents__selected.quantity_selected 0
                    | &nbsp;/&nbsp;
                    span#accidents__all.quantity_all 0
            main
                section.quick_display
                    .options
                        input#accidents_show_all.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_show_all") Показать всё
                    .options
                        input#accidents_clear_all.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_clear_all") Скрыть всё
                section.accidents_time_options
                    input#accidents_year(type="number")
                    input#accidents_at_day.mgtniip_option_button(type="button" value="День")
                    input#accidents_at_night.mgtniip_option_button(type="button" value="Ночь")
                    input#accidents_in_summer.mgtniip_option_button(type="button" value="Лето")
                    input#accidents_in_winter.mgtniip_option_button(type="button" value="Зима")
                section.accidents_zones_options
                    .options
                        input#accidents_near_crosswalk.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_near_crosswalk")
                            | У пеш. перехода
                            span#accidents_near_crosswalk__number.options_number 0
                            | &nbsp;|&nbsp;
                            span#accidents_near_crosswalk__percentage.options_percentage 0%
                    .options
                        input#accidents_near_social_objects.mgtniip_switch_button(type="checkbox")
                        label(for="accidents_near_social_objects")
                            | У соц. объекта
                            span#accidents_near_social_objects__number.options_number 0
                            | &nbsp;|&nbsp;
                            span#accidents_near_social_objects__percentage.options_percentage 0%
                    .options
                        input#show_typical_places.mgtniip_switch_button(type="checkbox")
                        label(for="show_typical_places")
                            | Типовые участки
                            span#show_typical_places__number.options_number 0
                    .options
                        input#show_accidents_types.mgtniip_switch_button(type="checkbox")
                        label(for="show_accidents_types")
                            | По типам...
                            span#show_accidents_types__number.options_number 0
                            | &nbsp;|&nbsp;
                            span#show_accidents_types__percentage.options_percentage 0%
                section#accidents_types
                    .accidents_types
                        input#id1.mgtniip_simple_checkbox(type="checkbox")
                        label(for="id1")
                            span.accidents_type_numbers 0
                            span.accidents_type_names(title="Мурлыкали миленькие кошечки") Мурлыкали миленькие кошечки
                    .accidents_types
                        input#id2.mgtniip_simple_checkbox(type="checkbox")
                        label(for="id2")
                            span.accidents_type_numbers 00
                            span.accidents_type_names(title="Лаяли дикие собачки") Лаяли дикие собачки
                    .accidents_types
                        input#id3.mgtniip_simple_checkbox(type="checkbox")
                        label(for="id3")
                            span.accidents_type_numbers 0000
                            span.accidents_type_names(title="Бегали беременные бегемотики") Бегали беременные бегемотики
        .mgtniip_control_box.injured
            header
                img(src=projectPath + "icon_family.svg" alt="Количество пострадавших при ДТП")
                h2 Пострадавшие
                .quantity
                    span#injured_selected.quantity_selected 0
                    span &nbsp;/&nbsp;
                    span#injured_all.quantity_all 0
            main
                section.adults
                    .injured_row
                        input#adults.mgtniip_simple_checkbox(type="checkbox")
                        label(for="adults")
                            span#adults_injured__number.injured_number 0
                            strong Взрослых
                    .injured_row
                        strong#adults_dead__percentaje.injured_percentage 0%
                        span из них погибло
                section.kids
                    .injured_row
                        input#kids.mgtniip_simple_checkbox(type="checkbox")
                        label(for="kids")
                            span#kids_injured__number.injured_number 0
                            strong Детей
                    .injured_row
                        strong#kids_dead__percentaje.injured_percantage 0%
                        span из них погибло
                    .injured_row
                        strong#kids_injured_near_crosswalk__percentaje.injured_percantage 0%
                        span пострадало у пеш. перехода
                    .injured_row
                        strong#kids_injured_near_social_objects__percentaje.injured_percantage 0%
                        span пострадало у соц. объекта
        .mgtniip_aside_box
            .aside_row
                input#divisions.mgtniip_simple_checkbox(type="checkbox")
                label(for="divisions") Административные округа
            .aside_row
                input#clasters_map.mgtniip_simple_checkbox(type="checkbox")
                label(for="clasters_map") Кластеризация
            .aside_row
                input#heat_map.mgtniip_simple_checkbox(type="checkbox")
                label(for="heat_map") Тепловая карта
            .aside_row
                input#traffic_lights.mgtniip_simple_checkbox(type="checkbox")
                label(for="traffic_lights") Показать все светофоры
            .aside_row
                input#social_objects.mgtniip_simple_checkbox(type="checkbox")
                label(for="social_objects") Показать все социальные объекты
            .aside_row
                input#accidents_near_tl_and_so.mgtniip_simple_checkbox(type="checkbox")
                label(for="accidents_near_tl_and_so") Социальные объекты и пешеходные переходы в зоне ДТП
        script(src="mgtniip_styles/mgtniip_styles.js")
        script(src="index.js")
