styles.html
<!DOCTYPE html><html><head><link rel="stylesheet" href="style.css"></head><body><div class="mgtniip_control_box"><header>Header</header><main>lorem lorem lorem lorem<br>lorem lorem lorem lorem<br>lorem lorem lorem lorem<div><input class="mgtniip_simple_checkbox" id="simple_checkbox" type="checkbox"><label for="simple_checkbox">Checkbox</label></div><div><input class="mgtniip_switch_button" id="switch_button" type="checkbox"><label for="switch_button">Switch button</label></div><div><input class="mgtniip_option_button" id="button" type="button" value="Button"></div></main></div><div class="mgtniip_aside_box"><div class="scrollbar mgtniip_scroll_bar"><div class="content"></div></div></div><script src="mgtniip_styles/mgtniip_styles.js"></script></body></html>

styles.pug
doctype html
html
    head
        link(rel="stylesheet" href="style.css")

    body
        div.mgtniip_control_box
            header Header
            main lorem lorem lorem lorem<br>lorem lorem lorem lorem<br>lorem lorem lorem lorem
                div
                    input#simple_checkbox.mgtniip_simple_checkbox(type="checkbox")
                    label(for="simple_checkbox") Checkbox
                div
                    input#switch_button.mgtniip_switch_button(type="checkbox")
                    label(for="switch_button") Switch button
                div
                    input#button.mgtniip_option_button(type="button" value="Button")
        .mgtniip_aside_box
            .scrollbar.mgtniip_scroll_bar
                .content
        script(src="mgtniip_styles/mgtniip_styles.js")
